PORT=8000
MONGODB_URI=mongodb+srv://ysc_chandan:your-password@cluster0.oma269q.mongodb.net
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-backend
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-or-code
REFRESH_TOKEN_EXPIRY=10d